@{
    ViewBag.Title = "Index";

}


    <div>
        <img src="~/Content/images/1090674.svg" alt="Sample Image" width="300" class="center-block" />
        <h2 class="text-center">Hello @ViewBag.Nombre </h2>


    </div>

